@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 0;
  max-height: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.banner {
  display: flex;
  justify-content: center;
  flex: 1;
}

.banner-img {
  width: 30%;
  max-width: 500px;
  border-radius: 10px;
}
.banner-img:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;

}

.categories {
  flex: 1;
  padding-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.categories h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.highlight {
  color: yellow;
}

.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 15px;
  max-width: 300px;
}

.category-buttons button {
  padding: 12px;
  border: none;
  cursor: pointer;
  background: #444;
  color: white;
  width: 170px;
  text-align: center;
  font-size: 16px;
  box-shadow: 5px 4px 10px rgba(255, 255, 255, 0.3), 0px 6px 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.movies-section {
  margin: 20px 0;
}

.movies-section h2 {
  color: black;
  text-align: left;
}

.movies-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.movie-card {
  flex: 0 0 auto;
  width: 290px;
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
}

.movie-card .movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}


.movie-info {
  display: flex;
  align-items: center;  
  gap: 20px;           
  color: black;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.newly-released {
  margin: 20px 0;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.newly-released h2 {
  color: black;
  text-align: left;
  padding-left: 0px;
}

.newly-released-card {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.newly-released-card img {
  width: 290px;
  height: auto;
  object-fit: cover;
  display: block;
}

.footer {
  border-top: 1px solid #ddd;
  padding: 20px 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-caption p {
  margin: 0;
  font-size: 18px;
  color: #333;
  max-width: 600px;
  text-align: start;
}

.footer-icon p {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #333;
  text-align: start;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.footer-font-icon {
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
}

.footer-font-icon:hover {
  color: #1877f2; 
}


@media screen and (max-width: 480px) {
  .banner-section {
    flex-direction: column;
    padding: 20px 10px;
  }

  .banner-img {
    max-width: 100%;
    height: auto;
  }

  .categories {
    padding-left: 0;
    gap: 10px;
  }

  .categories h2 {
    font-size: 18px;
  }

  .category-buttons {
    display: grid;
  grid-template-columns: repeat(2, 6fr);
  box-shadow: 5px 4px 10px rgba(255, 255, 255, 0.3), 0px 6px 20px rgba(255, 255, 255, 0.5);

  gap: 15px;
  max-width: 300px;
  }

  .category-buttons button {
    width: 100%;
    font-size: 14px;

  }

  .movies-section h2,
  .newly-released h2,
  .copyright p {
    font-size: 16px;
    text-align: center;
    padding-left: 0;
  }

  .movies-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
  }

  .movie-card {
    width: 90%;
  }

  .movie-card p,
  .movie-card span {
    font-size: 14px;
  }

  .newly-released {
    padding: 10px;
  }

  .newly-released-card {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-caption p {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .footer-icon p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .social-icons {
    gap: 16px;
  }
}

