body {
     justify-content: center;
     align-items: center;
     height: 100%;
     margin: 0;
     
 }
 
.post-container {
     width: 100%;
     margin: 10px auto;
     padding: 20px;
     border-radius: 20px;
     box-shadow: 0 4px 20px rgba(0,0,0,0.3);
     color: #fff;
     text-align: center;
 }
 
 .table-container {
     width: 1000px;
     border-collapse: collapse;
     margin: 20px auto 0 auto;
     background-color: #ffffff;
     overflow: hidden;
     scrollbar-width: none;
     box-shadow: 0 4px 15px rgba(0,0,0,0.2);
 }
 
 thead tr {
     background-color: #4a4a6a;
     color: white;
     text-align: left;
 }
 
 th, td {
     padding: 15px;
     text-align: center;
 }
 
 tbody tr:nth-child(even) {
     background-color: #f2f2f2;
     color: #333;
 }
 
 tbody tr:nth-child(odd) {
     background-color: #eaeaea;
     color: #333;
 }
 
 tbody tr:hover {
     background-color: #d1d1d1;
     cursor: pointer;
 }
 
 h1 {
     font-size: 28px;
     margin-bottom: 10px;
     color: #ffffff;
 }
 @media (max-width: 900px) {
     .post-container {
         width: 95%;
         padding: 15px;
         margin: 30px auto 0 auto;
     }
     .table-container {
         width: 90%;
         margin: 20px auto 0 auto;
     }
     h1 {
         font-size: 24px;
     }
     th, td {
         padding: 12px;
         font-size: 14px;
     }
 }
 
 @media (max-width: 750px) {
     .post-container {
         width: 98%;
         padding: 10px;
         margin: 20px auto 0 auto;
     }
     .table-container {
         width: 100%;
         display: block;
         overflow-x: auto;
         white-space: nowrap;
         margin: 10px 0 0 0; 
     }
     h1 {
         font-size: 20px;
     }
     th, td {
         padding: 8px;
         font-size: 12px;
     }
 }
 
 @media (max-width: 500px) {
     .post-container {
         width: 100%;
         padding: 8px;
         margin: 10px 0 0 0; 
     }
     .table-container {
         width: 100%;
         margin: 10px 0 0 0;
     }
     h1 {
         font-size: 18px;
     }
     th, td {
         padding: 6px;
         font-size: 11px;
     }
 }
 
 @media (max-width: 350px) {
     .post-container {
         padding: 5px;
         margin: 0;
     }
     .table-container {
         width: 100%;
         margin: 5px 0 0 0;
     }
     h1 {
         font-size: 16px;
     }
     th, td {
         padding: 4px;
         font-size: 9px;
     }
 }
 
 @media (max-width: 100px) {
     h1 {
         font-size: 12px;
     }
     th, td {
         padding: 2px;
         font-size: 7px;
     }
 }
